<section class="gallery-section">
	<div class="container">
		<!--hidden-->
		<h2 class="visually-hidden">schedule of events</h2>
		<ul class="gallery__list js-events-gallery">
			<li class="gallery__item js-gallery-card">
				<div class="gallery__div">
					<a class="gallery__link animation" href="">
						<!-- <div class="gallery__img-container"> -->
						<img class="gallery__img" src="./images/img-modal/Rectangle.jpg" width="267px" height="337px"
							alt="thing">
						<div class="gallery__pinkBorder"></div>
						<!-- </div> -->
						<div class="event-info">
							<h3 class="event-heading">Atlas Weekend</h3>
							<p class="event-data">2021-06-09</p>
							<p class="event-place"><svg class="Map__icon" width="7" height="10">
									<use href="./images/sprite.svg#Map"></use>
								</svg>VDNH</p>
						</div>
					</a>
				</div>
			</li>
			<li class="gallery__item js-events-gallery">
				<div class="gallery__div">
					<a class="gallery__link animation" href="">
						<!-- <div class="gallery__img-container"> -->
						<img class="gallery__img" src="./images/img-modal/Rectangle.jpg" width="267px" height="337px"
							alt="thing">
						<div class="gallery__pinkBorder"></div>
						<!-- </div> -->
						<div class="event-info">
							<h3 class="event-heading">Atlas Weekend</h3>
							<p class="event-data">2021-06-09</p>
							<p class="event-place"><svg class="Map__icon" width="7" height="10">
									<use href="./images/sprite.svg#Map"></use>
								</svg>VDNH</p>
						</div>
					</a>
				</div>
			</li>
			<li class="gallery__item js-events-gallery">
				<div class="gallery__div">
					<a class="gallery__link animation" href="">
						<!-- <div class="gallery__img-container"> -->
						<img class="gallery__img" src="./images/img-modal/Rectangle.jpg" width="267px" height="337px"
							alt="thing">
						<div class="gallery__pinkBorder"></div>
						<!-- </div> -->
						<div class="event-info">
							<h3 class="event-heading">Atlas Weekend</h3>
							<p class="event-data">2021-06-09</p>
							<p class="event-place"><svg class="Map__icon" width="7" height="10">
									<use href="./images/sprite.svg#Map"></use>
								</svg>VDNH</p>
						</div>
					</a>
				</div>
			</li>
			<li class="gallery__item">
				<div class="gallery__div">
					<a class="gallery__link animation" href="">
						<!-- <div class="gallery__img-container"> -->
						<img class="gallery__img" src="./images/img-modal/Rectangle.jpg" alt="thing">
						<div class="gallery__pinkBorder"></div>
						<!-- </div> -->
						<div class="event-info">
							<h3 class="event-heading">Atlas Weekend</h3>
							<p class="event-data">2021-06-09</p>
							<p class="event-place"><svg class="Map__icon" width="7" height="10">
									<use href="./images/sprite.svg#Map"></use>
								</svg>VDNH</p>
						</div>
					</a>
				</div>
			</li>
			<li class="gallery__item">
				<div class="gallery__div">
					<a class="gallery__link animation" href="">
						<!-- <div class="gallery__img-container"> -->
						<img class="gallery__img" src="./images/img-modal/Rectangle.jpg" alt="thing" />
						<div class="gallery__pinkBorder"></div>
						<!-- </div> -->
						<div class="event-info">
							<h3 class="event-heading">Atlas Weekend</h3>
							<p class="event-data">2021-06-09</p>
							<p class="event-place">
								<img src="./images/Vector.jpg" alt=""> VDNH
							</p>
						</div>
					</a>
				</div>
			</li>
		</ul>
		<ul class="pagination">
			<li class="pagination__page current-page">
        <button class="pagination__btn" value="0" type="button">1</button></li>
			<li class="pagination__page">
        <button class="pagination__btn" value="1" type="button">2</button></li>
			<li class="pagination__page">
        <button class="pagination__btn" value="2" type="button">3</button></li>
      <li class="pagination__page">
        <button class="pagination__btn" value="3" type="button">4</button></li>
      <li class="pagination__page">
        <button class="pagination__btn" value="4" type="button">5</button></li>
      <li class="pagination__page">
        <button class="pagination__btn--points" type="button">...</button></li>
      <li class="pagination__page">
        <button class="pagination__btn" value="29" type="button">30</button></li>
		</ul>
</section>
</div>
</ul>
</section>